<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include(paths.theme.dir + "/header.ejs") %>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <p><%=message%></p>
    </div>
</div>
</body>
</html>